body, html{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgs/mclaren1.avif);
}

body{
    background-image: url(../imgs/mclaren1.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Koulen";
    text-align: center;
    margin: 0;
    padding: 0;
    color:#F2620F ;
}

h1.titulo{
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: #F24B0F;
    color: #f18647;
    font-size: 4rem;
}
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    align-items: center;
}
nav ul li {
    display: inline;
    margin: 0 90px;
    font-family: "Marvel";
    font-size: 2rem;
}
nav ul li span{
    font-size: 1.6rem;
    font-style: italic;
    color: #BF391B;
}
form {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
}
form label {
    display: block;
    margin-bottom: 5px;
    color: #731A06;
}
form input, form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 2px solid #F24B0F;
    box-shadow: 1px 2px 3px;
    color:#731A06 ;
}
form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
form button:hover {
    background-color: #0056b3;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #BF391B;
    text-align: center;
}
.table thead th {
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

.active{
    color: #731A06;
}

.stop{
    color: #BF391B;
}


